body {
    height: 80vh;
    overflow: hidden;
}

.arrow {
    position: absolute;
    top: 20vh;
    width: 100%;
}

.arrow .correct {
    filter: invert(80%) sepia(99%) saturate(6256%) hue-rotate(48deg) brightness(98%) contrast(95%);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

button {
    position: absolute;
    bottom: 20vh;
    width: 50%;
    height: 10vh;
    margin-left: 25vw;
}
